.CodeEditor {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 40vh;

    padding: 1.2rem 2rem;

    background-color: #2e3440;

    z-index: 3;
}

/* HTML, CSS, JS */
.CodeEditor > div:first-child {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;

    color: #d8dee9;

    width: 100%;

    margin-bottom: 0.5rem;

    & > span {
        width: 1px;
        height: 1.2rem;
        background-color: #d8dee9;
    }

    & > div {
        margin: 1.2rem;
        transition: transform 0.2s ease-in-out;
    }

    & > div:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

/* Ace-Editor */ 
.CodeEditor > div:last-child {
    width: 100%;
    height: 100%;

    margin-bottom: 0.5rem;
}

.selected {
    color: #eceff4;
    transform: scale(1.2);
}