$size: 15;

.SlidesGrid {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;

    padding: 9rem 0;
}

.SlidesGrid > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin-bottom: 5vh;
}

.SlidesGrid > div > div {
    flex: 1;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SlidesGrid > div > div > iframe {
    width: $size + vw;
    height: $size + vh;
    
    border: 2px solid rgba(0, 0, 0, .87);

    /* for the selected slide */
    &.selected {
        border: 2px solid #0066cc;
    }
}

/* Iframe Selection */
.iframeSelection {
    position: absolute;

    width: $size + vw;
    height: $size + vh;

    background: transparent;

    z-index: 1;
}